 
  <div   class="text-center p-5  bg-light rounded-3" >
    <main class="form-signin">
      <form [formGroup] = "formdata" >
        <h1 class="h3 mb-3 fw-normal">Bienvenido</h1>
        <h3 class="h3 mb-3 fw-normal">Recuperación de cuenta</h3>
    <img class="p-5 mb-4 img-fluid rounded-circle" src="../../../assets/firebase-logo.png" >
        
        <div class="form-floating">
          <input type="email" class="form-control" id="floatingInput" formControlName="userName" placeholder="name@example.com" required>
          <label for="floatingInput">Correo electrónico</label>
        </div> 
      </form> 
     <div class="row m-4">
      <div class="col">
        <button class="btn btn-outline-secondary btn-block" type="submit" [routerLink]="['/','register']">Regresar</button>
    </div>
         <div class="col">
            <button class="btn btn-primary btn-block" type="submit" (click)="resetPassword()">Reiniciar</button>
        </div>
        
     </div> 
        
        <p class="mt-5 mb-3 text-muted">UNA © 2021</p>
      
    </main> 
  </div>